<div class="container">
    <!-- Formulario de búsqueda -->
    <form action='@Url.Action("Index")' method="post">
        <div class="seleccion" id="searchSelection">
            <label for="search-by">Buscar por:</label>
            @switch (ViewBag.TipoBusqueda)
            {
                case 2:
                    <select name="tipoBusqueda" class="inputdatos" id="search-by" onchange="toggleAdditionalFields()" required>
                        <option value="1" >Descripción</option>
                        <option value="2" selected>Código</option>
                        <option value="3">Código Reducido</option>
                        <option value="4">Código del Fabricante</option>
                        <option value="5">Fabricante</option>
                    </select>

                    <div id="codigoFields">
                        <label for="codiCorto">Código Corto:</label>
                        <select name="codiCorto" class="inputdatos" id="codiCorto">
                            <option value="" selected></option>
                            @foreach (string MiniCod in BD.ObtenerListaCodigos())
                            {
                                <option value="@MiniCod">@MiniCod</option>
                            }
                        </select>
                    </div>
                break;
                case 3:
                    <select name="tipoBusqueda" class="inputdatos" id="search-by" onchange="toggleAdditionalFields()" required>
                        <option value="1" >Descripción</option>
                        <option value="2" >Código</option>
                        <option value="3" selected>Código Reducido</option>
                        <option value="4">Código del Fabricante</option>
                        <option value="5">Fabricante</option>
                    </select>
                break;
                case 4:
                    <select name="tipoBusqueda" class="inputdatos" id="search-by" onchange="toggleAdditionalFields()" required>
                        <option value="1" >Descripción</option>
                        <option value="2" >Código</option>
                        <option value="3">Código Reducido</option>
                        <option value="4" selected>Código del Fabricante</option>
                        <option value="5">Fabricante</option>
                    </select>
                break;
                case 5:
                    <select name="tipoBusqueda" class="inputdatos" id="search-by" onchange="toggleAdditionalFields()" required>
                        <option value="1" >Descripción</option>
                        <option value="2" >Código</option>
                        <option value="3">Código Reducido</option>
                        <option value="4">Código del Fabricante</option>
                        <option value="5" selected>Fabricante</option>
                    </select>
                    <div id="fabricanteFields">
                        <label for="fabricanteNomb">Fabricante:</label>
                        <select name="fabricanteNomb" class="inputdatos" id="fabricanteNomb">
                            @if(ViewBag.ListaFabri != null)
                            {
                                @foreach (string fabri in ViewBag.ListaFabri)
                                {
                                    <option value="@fabri">@fabri</option>
                                }
                            }

                        </select>
                    </div>
                break;
                default:
                    <select name="tipoBusqueda" class="inputdatos" id="search-by" onchange="toggleAdditionalFields()" required>
                        <option value="1" selected>Descripción</option>
                        <option value="2">Código</option>
                        <option value="3">Código Reducido</option>
                        <option value="4">Código del Fabricante</option>
                        <option value="5">Fabricante</option>
                    </select>
                break;
            }
            

            
            <div id="additionalFieldsContainer" style="display: none;">
                <div id="codigoFields">
                    <label for="codiCorto">Código Corto:</label>
                    <select name="codiCorto" class="inputdatos" id="codiCorto">
                        <option value=" " selected></option>
                        @foreach (string MiniCod in BD.ObtenerListaCodigos())
                        {
                            <option value="@MiniCod">@MiniCod</option>
                        }
                    </select>
                </div>
                <div id="fabricanteFields">
                    <label for="fabricanteNomb">Fabricante:</label>
                    <select name="fabricanteNomb" class="inputdatos" id="fabricanteNomb">
                        @if(ViewBag.ListaFabri != null)
                        {
                            @foreach (string fabri in ViewBag.ListaFabri)
                            {
                                <option value="@fabri">@fabri</option>
                            }
                        }

                    </select>
                </div>
            </div>

            
            <label for="textoBusqueda">Palabras clave:</label>
            <input name="textoBusqueda" type="text" class="inputdatos" id="textoBusqueda" placeholder="Palabras clave..." value="@ViewBag.TextoBusqueda">
            
            <div class="button-container">
                <button type="submit" class="search-button">BUSCAR</button>
            </div>
        </div>
    </form>



    <div class="results-section">
        <label for="results">Resultados encontrados: @ViewBag.CountResEncont</label>
        <form method="post" action="@Url.Action("Index", "Home")">
        <input type="hidden" name="tipoBusqueda" value="@ViewBag.TipoBusqueda">
        <input type="hidden" name="textoBusqueda" value="@ViewBag.TextoBusqueda">
        @if(ViewBag.TipoBusqueda == 2)
        {
            <input type="hidden" name="codiCorto" value="@ViewBag.MiniCod">
        }
        else if(ViewBag.TipoBusqueda == 5)
        {
            <input type="hidden" name="fabricanteNomb" value="@ViewBag.Fabri">
        }

            <select id="results" name="ProduSele" onchange="this.form.submit()">
                @if(ViewBag.ListaNombresProduBusqueda != null)
                {
                    @foreach (string producto in ViewBag.ListaNombresProduBusqueda)
                    {
                        <option value="@producto">@producto</option>
                    } 
                }
                else
                {
                    <option value="" selected></option>
                }
                

            </select>
        </form>

        
        @if (ViewBag.CountResEncont != null && ViewBag.CountResEncont > 0)
        {
            <form action="@Url.Action("Tabla", "Home")" method="post">
                <button class="btn small">TABLA</button>
            </form>  
        }

    </div>

    @if(ViewBag.Producto != null)
    {
        <div class="form-container">
            <div class="form-group">
                <label>Tipo</label>
                <div class="input-block">@ViewBag.Producto.TIPO</div>
                <label>Código</label>
                <div class="input-block">@ViewBag.Producto.CODIGO</div>
                <label>Stock en Depósito</label>
                <div class="input-block">@ViewBag.Producto.STOCK</div>
                <form action="@Url.Action("Formula", "Home")" method="post">
                    <button class="btn small">Formula</button>
                </form>
                <form action="@Url.Action("SeguimientoFormula", "Home")" method="post">
                    <button class="btn small">Seg Formula</button>
                </form>                
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <div class="input-block">@ViewBag.Producto.DESCRIPCION</div>
                <div class="input-block">@ViewBag.Producto.DESCADI</div>
            </div>
            <div class="form-group">
                <label>Código del Fabricante</label>
                <div class="input-block">@ViewBag.Producto.CODFAB</div>
            </div>
            <div class="form-group">
                <label>Fabricante</label>
                <div class="input-block">@ViewBag.Producto.NOMBFABRI</div>
            </div>
        </div>

        <div class="imgProdu">
            <img src="@ViewBag.Producto.FOTO" alt="@ViewBag.Producto.DESCRIPCION">
            <img src="/Image/GetImage?@ViewBag.Producto.FOTO" alt="Product Image" height="500px" width="100px">
        </div>

        @if(ViewBag.Producto.APTOVENTA != null && ViewBag.Producto.APTOVENTA == 'N')
        {
            <div class="status-section">
                <p class="not-for-sale">NO APTO PARA LA VENTA</p>
            </div>
        }
        else if (ViewBag.Producto.APTOVENTA == 'S')
        {
            <p class="for-sale">APTO PARA LA VENTA</p>
        } 
    }
    else
    {
        <div class="form-container">
            <div class="form-group">
                <label>Tipo</label>
                <div class="input-block"></div>
                <label>Código</label>
                <div class="input-block"></div>
                <label>Stock en Depósito</label>
                <div class="input-block"></div>
                
                    <button class="btn small">Formula</button>
                
                
                    <button class="btn small">Seg Formula</button>
                               
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <div class="input-block"></div>
                <div class="input-block"></div>
            </div>
            <div class="form-group">
                <label>Código del Fabricante</label>
                <div class="input-block"></div>
            </div>
            <div class="form-group">
                <label>Fabricante</label>
                <div class="input-block"></div>
            </div>
        </div>

        <div class="imgProdu">
            <img src="" alt="">
            <img src="" alt="Product Image">
        </div>
    }
    
</div>