<div class="material-container">
    <div class="material-header">
        <form method="post" action="@Url.Action("Formula", "Home")">
            <span>@ViewBag.Producto.TIPO</span>
            <p>@ViewBag.Producto.CODIGO</p>
            <label>FORMULA</label>
            <select name="formulaSele">
                @if(ViewBag.FormulaProdu != null)
                {
                    @foreach (string producto in ViewBag.FormulaProdu)
                    {
                        <option value="@producto">@producto</option>
                    }  
                }
                else
                {
                    <option value=""></option>
                }
            </select>
        </form>
    </div>
   <div class="material-description">
       <p>@ViewBag.Producto.DESCRIPCION</p>
       <p>@ViewBag.Producto.DESCADI</p>
   </div>
   <table class="material-table">
       <thead>
           <tr>
               <th>TIPO</th>
               <th>CODIGO</th>
               <th>FORMULA</th>
               <th>UNIDAD</th>
               <th>CANTIDAD</th>
               <th>DESCRIPCION</th>
               <th>STOCK</th>
           </tr>
       </thead>
       <tbody>
            @if(ViewBag.SeguiFor != null)
            {
                @foreach (SeguimientoFormula producto in ViewBag.SeguiFor)
                {
                    <tr>
                        <td>@producto.TIPO</td>
                        <td>@producto.CODIGO</td>
                        <td>@producto.FORMULA</td>
                        <td>@producto.UNIDAD</td>
                        <td>@producto.CANTIDAD</td>
                        <td>@producto.DESCRIPCION</td>
                        <td>@producto.STOCK</td>                    
                    </tr>
                } 
            }
            
       </tbody>
   </table>
</div>

<a href="@Url.Action("Index", "Home")" class="volver"> Volver </a>