@{
    ViewData["Title"] = "Tabla";
}

<table class="table table-striped">
  <thead>
    <tr>
      <th>TIPO</th>
      <th>CÓDIGO</th>
      <th>DESCRIPCIÓN</th>
      <th>DESCRIPCIÓN COMP</th>
      <th>CÓDIGO REDUCIDO</th>
      <th>CÓDIGO FABRICANTE</th>
      <th>FABRICANTE</th>
      <th>STOCK</th>
      <th>FOTO</th>
    </tr>
  </thead>
  <tbody>
    @foreach(Producto producto in ViewBag.ListaProdTabla)
    {
        <tr>
        <th scope="row">1</th>
        <td>@producto.CODIGO</td>
        <td>@producto.CODREDUCIDO</td>
        <td>@producto.DESCRIPCION</td>
        <td>@producto.CODIGOFABRICANTE</td>
        <td>@producto.TIPO</td>
        <td>@producto.NOMBFAB</td>
        <td>@producto.CODIFAB</td>
        <td>@producto.FOTO</td>
        <td>@producto.APTOVENTA</td>
        <td>@producto.STOCK</td>
        </tr>
    }

  </tbody>
</table>




<!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<!-- Your existing table structure -->
<table id="example" class="display">
    <thead>
        <tr>
          <th>TIPO</th>
          <th>CÓDIGO</th>
          <th>DESCRIPCIÓN</th>
          <th>DESCRIPCIÓN COMP</th>
          <th>CÓDIGO REDUCIDO</th>
          <th>CÓDIGO FABRICANTE</th>
          <th>FABRICANTE</th>
          <th>STOCK</th>
          <th>FOTO</th>
        </tr>
    </thead>
    <tbody>
      @foreach(Producto producto in ViewBag.ListaProdTabla)
      {
          <tr>
            <th scope="row">1</th>
            <td>@producto.CODIGO</td>
            <td>@producto.CODREDUCIDO</td>
            <td>@producto.DESCRIPCION</td>
            <td>@producto.CODIGOFABRICANTE</td>
            <td>@producto.TIPO</td>
            <td>@producto.NOMBFAB</td>
            <td>@producto.CODIFAB</td>
            <td>@producto.FOTO</td>
            <td>@producto.APTOVENTA</td>
            <td>@producto.STOCK</td>
          </tr>
      }
    </tbody>
</table>

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<!-- Initialize DataTables -->
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    });
</script>