@{
    ViewData["Title"] = "Tabla";
}

<table class="table table-striped">
  <thead>
    <tr>
      <th>TIPO</th>
      <th>CÓDIGO</th>
      <th>DESCRIPCIÓN</th>
      <th>DESCRIPCIÓN ADI</th>
      <th>NOMBRE FABRICANTE</th>
      <th>CÓDIGO FABRICANTE</th>
      <th>FOTO</th>
      <th>APTO VENTA</th>
      <th>STOCK</th>
    </tr>
  </thead>
  <tbody>
    @if(ViewBag.ContTabla != null)
    {
      @foreach(Tabla producto in ViewBag.ContTabla)
      {
        <tr>
          <td>@producto.TIPO</td>
          <td>@producto.CODIGO</td>
          <td>@producto.DESCRIPCION</td>
          <td>@producto.DESCADI</td>
          <td>@producto.NOMBFABRI</td>
          <td>@producto.CODFAB</td>
          <td>@producto.FOTO</td>
          <td>@producto.APTOVENTA</td>
          <td>@producto.STOCK</td>
        </tr>
      }      
    }
    else 
    {
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    }


  </tbody>
</table>

<a href="@Url.Action("Index", "Home")" class="volver"> Volver </a>


